body {
    font-size: large;
    background-image: url(../static/Screenshot\ 2024-08-26\ at\ 16-37-28\ Premium\ Photo\ White\ alphabet\ frame\ background.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

h1,
label {
    color: rgb(83, 50, 9);
    text-align: center;
}

textarea {
    text-align: center;
    margin: auto;
    border: 3px solid rgb(83, 50, 9);
    padding: 10px;
    color: rgb(83, 50, 9);
    font-weight: bolder;
    font-size: x-large;




}

.overall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .result{
    position: absolute;
    overflow: auto;
    left: 50%;
 
} */
/* .flex-Container{
   display: flex-; 
   flex-direction:column;
   justify-content: space-between;

} */
.center {

    margin: auto;
    padding: 10px;
    width: auto;
    text-align: center;
}

/* pre{
   overflow: auto;
   font-weight: bolder;
   border: 3px solid rgb(92, 89, 89);
} */
#generate {
    border: 3px solid rgb(92, 89, 89);
    padding: 16px 32px;
    color: rgb(83, 50, 9);
    font-weight: bold;
    cursor: pointer;
    border-radius: 25%;

}

.form-radio:checked+label::after {
    border: 2px solid rgb(83, 50, 9) !important;
}

p {
    text-align: center;
    color: rgb(83, 50, 9)
}
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(83, 50, 9); 
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid rgb(83, 50, 9); 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
a:hover,
a.focus {
    color: #ffffff;
    background-color: rgb(92, 89, 89); 
    border-color: rgb(83, 50, 9)
}
a:active {
    background-color: rgb(92, 89, 89); 
    border-color: rgb(83, 50, 9)
}