.center{
    position:relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,0%);
    font-weight: bolder;
    font-size: small;
    color: rgb(83, 50, 9);
    overflow: auto;
}
p{
    text-align: center;
    color: rgb(83, 50, 9);
    font-weight: bold;
    font-size: large;
    background-color: whitesmoke;
}
body {
    background-image: url(../static/Screenshot\ 2024-08-26\ at\ 16-37-28\ Premium\ Photo\ White\ alphabet\ frame\ background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}